@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<section class="testimonial">
    <div class="container">
        <div class="text">
            <div class="red">@Model.Value("reviewsHeading")</div>
            <div class="title">@Model.Value("reviewsTitle")</div>
         </div>
         <div class="box">
              @Html.GetBlockListHtml(Model.Reviews)
         </div>
         <div class="button"><a class="btn-theme-dark" href="@Model.Value("reviewsButtonUrl")">@Model.Value("reviewsButtonText") <i class="fa-regular fa-arrow-up-right"></i></a></div>
    </div>
</section>